.compact .unity-label {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    -unity-text-align: middle-left;
}

.compact .unity-enum-field__text {
    margin-right: 5px;
}
